<%- include('../partials/header') %>
<%- include('../partials/menu') %>
	<div class="container" style="text-align: center; vertical-align: middle;"> <br> <br>
		<h1>Cocktail Reviews</h1> <br>


		<form action="/review/filter" method="post" >
			<div class="row">
				<div class="col-2">

				</div>
				<div class="col-4">
					<input type="text" class="form-control" name="drinkFilter" id="drinkFilter"  placeholder="Enter Cocktail Name" style="width: 340px;text-align: center; vertical-align: middle;">
				</div>
				<div class="col-4">
					<button type="submit" class="btn btn-info" style="width: 340px;text-align: center; vertical-align: middle;">Filter</button>
				</div>
			</div>
		</form>
		<br> <br>

		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Cocktail Name</th>
		      <th scope="col">Review</th>
		      <th scope="col">Date</th>
		    </tr>
		  </thead>
		  <tbody id = "fullTable">

				<%
				if (data) {
					var cells = '';
				data.forEach(function(item){
					 var reviewDate = item.review_date;
					 var smallDate = reviewDate.toString().substring(0,15)
						 cells += '<tr><td>'+ item.cocktail_title + '</td>\<td>' + item.review + '</td><td>' + smallDate + '</td></tr>'
					 }); %>
					 <%- cells %>
				<% } %>

		  </tbody>

		<%
		if (filter) {  %>
			<script type="text/javascript">
				document.getElementById("fullTable").innerHTML = "";
			</script>
		<% } %>

		<tbody id = "filterTable">

			<%
			if (filter) {
				var cells = '';
			filter.forEach(function(item){
				 var reviewDate = item.review_date;
				 var smallDate = reviewDate.toString().substring(0,15)
					 cells += '<tr><td>'+ item.cocktail_title + '</td>\<td>' + item.review + '</td><td>' + smallDate + '</td></tr>'
				 }); %>
				 <%- cells %>
			<% } %>

		</tbody>

	</table>

<%- include('../partials/footer') %>
